.home-body {
    margin-top: 27px;
}

.home-body h1 {
    color: #000;
    font-size: 48px;
    margin-top: 30px;

}

.home-body p {
    color: #7E7E7E;
    font-size: 24px;
    font-weight: 700;
}

.home-body button {
    margin-top: 27px;
}