@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

}

a {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}
.regular {
  font-weight: normal;
}

li {
  list-style: none;
}


